<header class="header">
    <div>
        <img src="https://us.123rf.com/450wm/sabuhinovruzov/sabuhinovruzov1705/sabuhinovruzov170501372/78609022-icono-de-vector-de-noticias-ilustraci%C3%B3n-de-noticias-blanco-y-negro-esquema-de-icono-lineal.jpg" alt="" routerLink="/">
    </div>
    <div class="header__title">
        <a routerLink="/"><h1>George Noticias</h1></a>
    </div>
    <div class="menu">
        <ul class="menu__container">
            <li><a [routerLink]="'/'">Inicio</a></li>
            <li><a [routerLink]="['note-detail', 1]">Futbol</a></li>
            <li><a [routerLink]="['note-detail', 2]">Ciclismo</a></li>
            <li><a [routerLink]="['note-detail', 3]">Automovilismo</a></li>
            <li><a [routerLink]="['note-detail', 4]">Tenis</a></li>
            <li><a [routerLink]="['note-detail', 5]">Ajedrez</a></li>
        </ul>
    </div>
</header>