<div class="detail">
    <h1><p class="detail__category">{{ note.category }}</p></h1>
    <h2>{{ note.title }}</h2>
    <hr>
    <div class="detail__content">
        <img [src]="note.picture" alt="" width="732">
        <div class="detail__description">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe temporibus blanditiis fuga excepturi atque ratione. Repudiandae iure voluptas atque nesciunt libero eaque, in quibusdam, voluptatem aliquam error assumenda eos cum?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus, nam fugiat, expedita sed repellat perferendis consequuntur vero et odio autem, laboriosam amet quo vitae itaque cupiditate veniam? Ab, exercitationem minus?</p>
        </div>
    </div>
</div>